<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.mrchippy.stemrust"
    android:versionCode="2"
    android:versionName="2.0">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="35" />
    <application
        android:allowBackup="false"
        android:label="Stemrust"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:usesCleartextTraffic="false">
        <activity
            android:name="be.mrchippy.stemrust.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
